@import url('https://fonts.googleapis.com/css2?family=Charm&display=swap');

body{
	margin: 0;
}

header{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 400px;
	background-image: url("background.jpg");
	background-size: cover;
	background-position: center;
	font-family: Charm;
}

header h1{
	background-color: rgba(255,255,255,0.5);
	padding: 20px;
	border-radius: 20px;
	font-family: Charm;
}

main{
	background: linear-gradient(90deg, rgba(150,153,228,1) 25%, rgba(91,255,0,1) 100%);
	padding: 100px;
	font-family: Charm;
}

main p{
	column-count: 2;
	font-family: Charm;
}

footer{
	height: 300px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	background-image: url("background1.jpg");
	background-size: cover;
	background-position: center;
	font-family: Charm;
}


footer p{
	color: white;
	font-size: 25px;
	background-color: rgba(0,0,0,0.5);
	padding: 30px;
	border-radius: 20px;
	font-family: Charm;
}