@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:ital,wght@0,200;0,400;0,500;0,600;1,700&family=Raleway:wght@200&display=swap');


h1{
	font-family: Raleway;
	text-align: center;
}
p{
	font-family: Raleway;
}
h2{
	font-family: 'Dancing Script', cursive;
	text-align: center;

}

div{
	border: dotted 4px black;
	margin: 10px;
	padding: 18px 8px;
}
.a{
	min-height: 100px;
}
.a p{
	column-count: 3;
}
#b{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
	background: radial-gradient(circle, rgba(87,142,139,1) 0%, rgba(138,165,225,1) 42%, rgba(105,111,186,1) 64%, rgba(56,71,128,1) 91%);
}
#b p{
	background-color: white;
	padding: 20px;
}
.c{
	background-color: #c3e4e8;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	height: 280px;
	padding: 0px 0px;
}
.c p{
   background-color: white;
   margin: 0px;
}
#d{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0578f2;
	height: 280px;
}
img{
	border: 1px solid white;
	height: 80px;
}
footer{
	height: 320px;
	border: dotted 4px black;
	margin: 10px;
	display: flex;
	justify-content: space-around;
	align-items: flex-end;
	background-color: #142487;
}
footer p{
	background-color: white;
	padding: 4px;
}