
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Dancing+Script&family=Indie+Flower&family=Merriweather:wght@300&family=PT+Sans&family=Raleway:wght@200&display=swap');


}
h1{
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: Raleway; 
	padding:50px;




h2{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	font-family: Dancing Script;
}

p{
	padding: 30px;
	margin: 30px;
	font-family: Raleway;
}

.a{
	display: flex;
	border-style:dotted ;
	padding:30px;
	align-items:center;
	column-count: 3;
	color: black;
	margin:10px;
	justify-content: center;
}

#b{
	display: flex;
	align-items: center;
	justify-content: center;
	border-style: dotted;
	padding: 20px;
	margin: 20px;
	column-count: 3;

}

.c{
	display: flex;
	align-items: stretch;
	justify-content: flex-start;
	border-style: dotted;
	padding: 20px;
	margin: 20px;




}

#d{
	display: flex;
	justify-content: flex-end;
	align-items:space-between;
	border-style: : dotted;
	padding: 20px;
	margin: 20px;
	column-count: 3;
}

header{

}

footer{

}

img