body{
	background-image: url(christmas.jpg);
	background-size: cover;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 100vh;

}

.container{
	width: 300px;
	height:400x;
	background-color: darkred;
}
